:root {
	--shadow_white_bg: 0 2rem 1rem -2rem #b36b93;
	--shadow_black_bg: 0 0.3rem 0.3rem -0.3rem rgb(255, 255, 255);
	--shadow_03: 0 0.3rem 0.3rem -0.3rem rgba(0, 0, 0, 0.7);
}

html,
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	color: #818181;
}

a {
	border: none;
	text-decoration: none;
}

ol,
ul {
	padding: 0;
}

ul a {
	color: #818181;
}

input {
	font-size: 1.2vw;
	padding: 1.3%;
	border-radius: 6px;
	opacity: 0.8;
	transition: all ease-in-out 0.3s;
}

input:hover {
	opacity: 1;
}

input[type=text] {
	background-color: white;
	width: 40%;
	border: 1px solid #888888;
	box-sizing: border-box;
	background: white url(../img/email.svg) no-repeat 2%;
	text-indent: 2rem;
}

input[type=submit] {
	min-width: 10%;
	text-align: center;
	background-color: #00ffff;
	border: none;
}

input[type=submit]:hover {
	cursor: pointer;
	background-color: #0ae2e2;
}

.menu {
	display: flex;
	flex-direction: row;
	position: fixed;
	background-color: white;
	width: 100%;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	box-shadow: 0 0.3rem 0.3rem -0.3rem rgba(88, 87, 87, 0.15);
	z-index: 50;
	top: 0;
}

.logo {
	width: 96px;
	margin: auto;
	border-radius: 1rem;
}

.ul_menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	align-content: center;
	padding-left: 0.5rem;
}

.ul_menu li {
	margin: auto 1rem;
}

.presentation {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.liste_presentation {
	list-style-type: none;
	margin-left: 7rem;
}

.liste_presentation li {
	margin-bottom: 0.1rem;
}

.liste_presentation a {
	color: #313131;
	font-size: 3vw;
	transition: all ease-in-out 0.5s;
}

.liste_presentation a:hover {
	padding-left: 0.5rem;
	color: #00ffff;
}

.pic_presentation {
	width: 70%;
	margin-top: 6.4rem;
}

.li_menu {
	display: inline-block;
}

.li_menu a {
	display: inline-block;
	color: #313131;
}

.li_menu a:hover {
	opacity: 0.75;
}

.menu_contenu,
.menu_contenu1 {
	display: none;
	position: absolute;
	background-color: white;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
	width: 10%;
	padding: 0 1rem;
	border-radius: 1rem;
	font-size: 1.2vw;
	color: #313131;
}

.li_menu:hover .menu_contenu,
.li_menu:hover .menu_contenu1 {
	display: block;
}

.menu_contenu1 {
	width: 7%;
}

.menu_contenu a,
.menu_contenu1 a {
	line-height: 2rem;
	transition: all ease-in-out 0.3s;
}

.menu_contenu a:hover,
.menu_contenu1 a:hover,
.menu_contenu p a:hover {
	color: #00ffff;
	padding-left: 0.5rem;
}

.menu_contenu p a {
	float: right;
}

.footer {
	border: 1px solid transparent;
	background-color: #151515;
	color: #6e6e6e;
	margin-top: 8%;
}

.div_formulaire {
	padding: 4% 0;
	margin: 9% auto;
}

.formulaire {
	text-align: center;
}

.texte_formulaire1 {
	font-size: 1.7vw;
	font-weight: bold;
	color: white;
}

.texte_formulaire2 {
	font-size: 1.45vw;
	padding-bottom: 2%;
}

.title {
	font-size: 4vw;
	margin: auto;
	color: #313131;
}


/* Escalade */
.section_presentation {
	display: flex;
	justify-content: center;
	margin-top: 7rem;
	height: 43rem;
}

.pic_climber_presentation {
	position: absolute;
	z-index: -1;
	width: 70%;
	border-radius: 1rem;
	box-shadow: var(--shadow_white_bg);
}

.div_presentation {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
	justify-content: center;
}

.p_presentation {
	font-size: 1.7vw;
}

.liste_categ {
	display: flex;
	justify-content: space-around;
	font-size: 2vw;
}

.liste_categ a {
	color: white;
}

.bloc,
.diff,
.speed {
	position: relative;
	width: 73%;
	color: #444;
	margin: 0 auto;
}

.pic_climber {
	width: 100%;
	border-radius: 1rem;
	transform: translateZ(1.5rem);
	box-shadow: var(--shadow_white_bg);
}

.title_categorie {
	font-size: 3.5vw;
	text-align: center;
	color: #00ffff;
	font-weight: 700;
}

.p_categorie {
	font-size: 1.5vw;
}

.card_front,
.card_back {
	border-radius: 1rem;
	padding: 1rem;
	background-color: white;
	position: relative;
	transition: all 1s ease-in-out;
	transform-style: preserve-3d;
	box-shadow: 0 2rem 5rem -3.5rem rgba(0, 0, 0, 0.15);
}

.card_front {
	z-index: 10;
}

.card_back {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 98%;
	z-index: -1;
	transform: rotateY(-180deg);
	color: white;
	opacity: 0;
}

.bloc:hover>.card_back,
.diff:hover>.card_back,
.speed:hover>.card_back {
	transform: rotateY(0deg);
	z-index: 10;
	color: #313131;
	opacity: 1;
}

.bloc:hover>.card_front,
.diff:hover>.card_front,
.speed:hover>.card_front {
	transform: rotateY(180deg);
	z-index: -1;
}

.hr {
	margin: 1rem auto;
	height: 1rem;
	width: 73%;
	background: linear-gradient(to left, #bdc3c7, #2c3e50);
	border-radius: 1rem;
	box-shadow: var(--shadow_03)
}

.classement {
	width: 70%;
	font-size: 1.2vw;
	background-color: #f5f5f5;
	color: #1f1f1f;
	border: 1px solid #a2a9b1;
	text-align: center;
	margin: 2rem auto 0 auto;
	border-collapse: collapse;
	box-shadow: var(--shadow_03)
}

.classement caption {
	margin: 0 auto 0.5rem auto;
	font-size: 1.35vw;
	color: black;
	border: 1px solid transparent;
	border-radius: 1rem;
	box-shadow: 0 0.3rem 0.7rem -0.7rem rgba(0, 0, 0, 0.7);
}

.classement th,
.classement td,
.or,
.argent,
.bronze {
	border: 1px solid grey;
}

.annee {
	background: #ebebeb;
}

.or {
	background-color: gold;
}

.argent {
	background-color: silver;
}

.bronze {
	background-color: #cc9966;
}

/* Handball */
.presentation_hand {
	display: flex;
	margin-bottom: 3rem;
}

.pic_hand_presentation {
	margin: 7.3rem 0 0 1.5rem;
	width: 55%;
	border-radius: 1rem;
	box-shadow: var(--shadow_white_bg);
}

.div_hand_presentation {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: fit-content;
}

.p_hand_presentation {
	margin: 0 auto 1rem;
	font-size: 1.3vw;
	width: 90%;
}

.presentation_hand ul {
	margin: auto;
	color: #151515;
	font-size: 1.3vw;
}

.section_position {
	background-color: black;
	padding: 0.1rem 0 2rem;
	color: white;
}

.pic_hand_terrain {
	width: 70%;
	margin-left: 15%;
	border-radius: 1rem;
	box-shadow: var(--shadow_black_bg)
}

.pic_hand_position {
	width: 70%;
	border-radius: 1rem;
	margin: 1rem 0;
	box-shadow: var(--shadow_black_bg)
}

.div_placement {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.40vw;
}

.div_placement ol {
	list-style: none;
}

.div_placement li {
	margin-bottom: 1rem;
	counter-increment: li;
}

.div_placement li::before {
	content: "A"counter(li);
	color: #00ffff;
	margin-right: 0.3rem;
}

.sous_div_placement {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section_classement .classement {
	width: 50%;
}

.p_classement {
	font-size: 1.5vw;
	width: 60%;
	margin: 0 auto;
}

.svg_icons {
	width: 1.5rem;
	padding: 0.4rem 0.625rem 0 0;
}

.pic_french_team {
	width: 70%;
	margin: 2rem 15%;
	box-shadow: var(--shadow_white_bg);
	border-radius: 0.4rem;
}


/* Tennis */
.tennis_presentation {
	display: flex;
	flex-direction: row;
	margin-bottom: 3rem;
}

.div_tennis_presentation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.p_tennis_presentation {
	width: 90%;
	font-size: 1.3vw;
}

.pic_tennis_presentation {
	margin-top: 7.3rem;
	width: 50%;
	border-radius: 1rem;
	box-shadow: var(--shadow_white_bg);
}

.section_tennis {
	display: flex;
	flex-direction: column;
	background-color: #151515;
}

.terrain {
	display: flex;
	align-items: center;
	padding-bottom: 3rem;
}

.terrain img {
	width: 70%;
	margin-left: 1rem;
	border-radius: 1rem;
}

.div_terrain {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.3vw;
}

.div_terrain h3 {
	color: white;
}

.div_terrain p {
	margin: 0 1rem;
}